<h1>Competition Details</h1>

<div *ngIf="competition">
  <h2>{{ competition.name }}</h2>
  <p>{{ competition.shortHistory }}</p>
  <a (click)="onShowAllSeasonsClick()">
    Show all seasons <span *ngIf="!showAllSeasons"><fa-icon [icon]="faRightArrow"></fa-icon></span>
    <span *ngIf="showAllSeasons"><fa-icon [icon]="faDownArrow"></fa-icon></span>
  </a>

  <app-seasons
    *ngIf="showAllSeasons"
    [competitionId]="competition.id"
  ></app-seasons>
</div>

<div *ngIf="loading">
  <fa-icon [icon]="faSpinner"></fa-icon>
  Loading...
</div>
