<div *ngIf="season">
  <h1>Matchdays for season {{season.name}}</h1>
  <a
    *ngIf="authenticationService.isUserAdmin()"
    routerLink="/competitions/{{season.competition.id}}/seasons/{{season.id}}/matchdays/import"
    class="import-button"
  >
    Import a matchday
  </a>
  <ul *ngIf="matchdays">
    <li class="matchday-list-item" *ngFor="let m of matchdays">
      <a class="matchday-link"
         routerLink="/competitions/{{season.competition.id}}/seasons/{{season.id}}/matchdays/{{m.id}}">
        Matchday #{{ m.matchdayNumber }}
      </a>
      (Starts {{m.startTime | date: 'MM-dd-yyyy HH:mm' }})
      <a
        *ngIf="authenticationService.isUserAdmin() && !m.isFinished && hasMatchdayStarted(m)"
        routerLink="/competitions/{{season.competition.id}}/seasons/{{season.id}}/matchdays/{{m.id}}/importResults"
        class="import-button"
      >
        Import results
      </a>
    </li>
  </ul>
</div>
<div *ngIf="loading">
  <fa-icon [icon]="faSpinner"></fa-icon>
  Loading...
</div>
