<div class="login-container">
  <h2>Login</h2>
  <p *ngIf="errorMessage">{{errorMessage}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" formControlName="username" required>
    </div>
    <div *ngIf="isSubmitted && loginForm.get('username')?.invalid">
      Username is required.
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
    </div>
    <div *ngIf="isSubmitted && loginForm.get('password')?.invalid">
      Password is required.
    </div>
    <button type="submit">Login</button>
    <div>
      <span>Don't have an account? </span><a href="/register">Sign up</a>
    </div>
  </form>
</div>
