<div class="welcome-text-container">
  <p class="welcome-text">
    Welcome to <strong>'Game of Predictions'</strong> – the ultimate platform for football enthusiasts! Dive into the
    world of matchday excitement as you showcase your football foresight. Make your predictions for upcoming fixtures in
    various football
    competitions, and watch as your accuracy earns you points and elevates your global rating. Compete head-to-head with
    fellow fans, climb the leaderboard, and prove your predictive prowess. Whether you're a seasoned strategist or a
    casual fan, 'Game of Predictions' is your gateway to football fortune and global glory. Join us today and let the
    games begin!
  </p>
  <hr/>
</div>


<h1 class="competition-heading">Competitions</h1>

<ul>
  <li class="competition" *ngFor="let c of competitions">
    <a routerLink="/competitions/{{c.id}}">
      <fa-icon [icon]="faFutbol"></fa-icon>
      {{ c.name }}
    </a>
  </li>
</ul>

<div *ngIf="loading">
  <fa-icon [icon]="faSpinner"></fa-icon>
  Loading...
</div>
